<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{
    background:#eee;
    clear:left;
    width:100%;
    margin: 24px 0 36px 0;
    padding: 12px 24px 24px 12px;
  }
  #mc_embed_signup input[type="submit"] {
    background-color: #e97e71;
  }
  #mc_embed_signup input[type="submit"]:hover {
    background-color: #fb9b8f;
  }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://notanomadblog.us13.list-manage.com/subscribe/post?u=0ed43add01311b3143cacfdaa&amp;id=9de47c9380" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Liked this post?</label>
  <p>
    Subscribe to get new content delivered by email. No spam 👻
  </p>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ed43add01311b3143cacfdaa_9de47c9380" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
